@page
@model PrivacyModel
@{
    ViewData["Title"] = "Admin Dashboard";
}

<div class="container">
    
    <!--Row 01-->
    <div class="row">

        <!--Left card-->
        <div class="col-12 col-md-6">

            <!--Pending orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:red">

                <!--Sub row-->
                <div class="row ">

                   
                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/pending.png" class="MyOrdersCardImg" />
                        </div>
                       
                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Pending Orders</label>
                            </div>
                          
                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.PendingOrders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                        <!--btn details-->
                        <div class="row" style="padding-top:3%;padding-bottom:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <a class="btn btn-primary" asp-page="pendingOrders" style="background-color:black;border-color:black;width:90%">Details</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--Right card-->
        <div class="col-12 col-md-6">

            <!--complete orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:yellow">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/completeMonth.png" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Complete Orders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.completedOrderCountThisMonth</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>


    <!--Row 02-->
    <div class="row" style="margin-bottom:3%">

        <!--Left card-->
        <div class="col-12 col-md-6">

            <!--Inquiries orders-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:palegreen">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/Inquiry.png" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Inquiries</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.LblInquiriesCount</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Month</label>
                            </div>

                        </div>

                        <!--btn details-->
                        <div class="row" style="padding-top:3%;padding-bottom:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <a class="btn btn-primary" asp-page="InquiryAdminView" style="background-color:black;border-color:black;width:90%">Check</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

        <!--Right card-->
        <div class="col-12 col-md-6">

            <!--complete orders (this year)-->
            <div class="MyOrdersCard" style="padding-top:3%;background-color:cornflowerblue">

                <!--Sub row-->
                <div class="row ">


                    <!--img-->
                    <div class="col-12 col-md-6 MyOrdersCard01">

                        <div>
                            <img src="/img/completeYear.png" class="MyOrdersCardImg" />
                        </div>

                    </div>

                    <!--card other details-->
                    <div class="col-12 col-md-6">

                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%" class="fw-bold">Complete Orders</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:200%">@Model.completedOrderCountThisYear</label>
                            </div>

                        </div>
                        <div class="row" style="padding-top:3%">

                            <div class="col-12 col-md-12 MyOrdersCard01">
                                <label style="font-size:100%">This Year</label>
                            </div>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!--Row 03 Topic (Table area)-->
    <div class="row">

        <div class="col-12 col-md-12 text-center">
            <label style="font-size:200%;" class="fw-bold">Customer Messages</label>
        </div> 

    </div>

    <!--Row 04 Contact US tabel detail (Customer messages)-->
    <div class="row" style="margin-bottom:3%;margin-top:5%">

        <div class="col-12 col-md-12">

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Full Name</th>
                        <th scope="col">Email</th>
                        <th scope="col">Message</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach(var data in Model.tblcontactUSs)
                    {
                        <tr>
                            <td>@(data.FullName)</td>
                            <td>@(data.Email)</td>
                            <td>@(data.message)</td>
                        </tr>
                    }

                    

                </tbody>
            </table>

        </div>

       

    </div>

</div>
