@page
@model VelvetVeogue.Pages.LadiesItemsModel
@{
}

<div class="container">

    <div class="row" style="margin-bottom:5%">

        @foreach(var data in Model.Tbl_ItemDetails)
        {
            <div class="col-12 col-md-3" style="margin-top:3%;display:flex;justify-content:center;">

                <!--Card-->
                <div class="card" style="width: 18rem;">

                    <!--Card inside row 01-->
                    <div class="row">

                        <div class="col-12 col-md-12">
                            <img src="data:image/png;base64,@Convert.ToBase64String(data.img)" class="card-img-top" style="height:200px;" alt="No image">

                        </div>

                    </div>

                    <!--Card inside row 02-->
                    <div class="row" style="padding-left:5%;padding-top:5%">

                        <div class="col-12 col-md-12">
                            <h5 class="fw-bold">@data.CategoryName</h5>

                        </div>

                    </div>


                    <!--Card inside row 03-->
                    <div class="row" style="padding-left:5%">

                        <div class="col-6 col-md-6">
                            <label class="Fonts">Colors</label>

                        </div>

                        <div class="col-6 col-md-6">
                            <label class="Fonts">@data.Color</label>

                        </div>

                    </div>


                    <!--Card inside row 04-->
                    <div class="row" style="padding-left:5%">

                        <div class="col-6 col-md-6">
                            <label class="Fonts">Available Sizes</label>

                        </div>

                        <div class="col-6 col-md-6">
                            <label class="Fonts">@data.size</label>

                        </div>

                    </div>


                    <!--Card inside row 05-->
                    <div class="row" style="padding-left:5%;">

                        <div class="col-6 col-md-6">
                            <label class="Fonts">Price</label>

                        </div>

                        <div class="col-6 col-md-6">
                            <label class="Fonts">@data.Price</label>

                        </div>

                    </div>

                    <!--Card inside row 06 | hr line-->
                    <div class="row" style="padding-top:3%;">

                        <div class="col-12 col-md-12">
                            <hr />

                        </div>


                    </div>

                    <!--Card inside row 06 | button-->
                    <div class="row text-center" style="padding-top:2%;padding-bottom:3%;">

                        <div class="col-12 col-md-12">
                            <a asp-page="ProductDetailsPage" asp-route-id="@data.Id" style="width:70%" class="btn btn-primary">Buy Now</a>

                        </div>


                    </div>



                </div>

            </div>
            
        }

       

    </div>

   


</div>

