@page
@model VelvetVeogue.Pages.pendingOrdersModel
@{
}


<div class="container">

    <!--Main row-->
    <div class="row" style="margin-top:5%">

        <div class="col-12 col-md-12">

            <table class="table">
                <thead>

                    <tr>

                        <th scope="col">Image</th>
                        <th scope="col"><strong>Category</strong></th>
                        <th scope="col"><strong>Item Type</strong></th>
                        <th scope="col"><strong>Price</strong></th>
                        <th scope="col"><strong>Color</strong></th>
                        <th scope="col"><strong>Size</strong></th>
                        <th scope="col"><strong>Address</strong></th>
                        <th scope="col"><strong>CNO</strong></th>
                        <th scope="col"><strong>Email</strong></th>
                        <th scope="col"><strong>Date</strong></th>
                        <th scope="col"><strong>Action</strong></th>


                    </tr>

                </thead>

                <tbody>

                     @foreach (var data in Model.tblPending)
                    {
                        <tr>
                            <td>
                                @if (data.img != null && data.img.Length > 0)
                                {
                                    <img src="data:image/png;base64,@Convert.ToBase64String(data.img)" style="width:80px;height:80px;object-fit:cover" alt="Item Image" />
                                }
                                else
                                {
                                    <span>No Image Found</span>
                                }

                            </td>
                            <td>@(data.category)</td>
                            <td>@(data.ItemType)</td>
                            <td>@(data.price.ToString() ?? "N/A")</td>
                            <td>@(data.color)</td>
                            <td>@(data.sizes ?? "N/A")</td>
                            <td>@(data.address ?? "N/A")</td>
                            <td>@(data.contactNo)</td>
                            <td>@(data.email)</td>
                            <td>@(data.date)</td>

                            <!--Action Buttons-->
                            <td>

                                <div class="d-flex">

                                    <a type="button" asp-page="completeOrders" asp-route-id="@data.id" class="btn btn-warning">Complete</a>
                                   @*  <a type="button" class="btn btn-danger" asp-route-id="@data.id" asp-page="RemoveItemDetails">Remove</a> *@

                                </div>

                            </td>

                        </tr>

                    } 

                </tbody>
            </table>

        </div>

    </div>

</div>