@page
@model VelvetVeogue.Pages.ProductDetailsPageModel
@{
}

<form method="post">

    <div class="container">
        <!--Main row-->
        <div class="row text-center pt-5">

            <!--Left side (img)-->
            <div class="col-6 col-md-6 col-sm-6">
                @if(Model.Tbl_ItemDetails.img != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Tbl_ItemDetails.img)" style="width:450px; height:550px;" />
                }
                
                

            </div>

            <!--Right side (img)-->
            <div class="col-6 col-md-6 col-sm-6">

                <!--Sub row 01-->
                <div class="row" style="padding-right:71%">
                    <div class="col-12 col-md-12 col-sm-12" >
                        <label>@Model.ItemType</label>

                    </div>
                </div>

                <!--Sub row 02-->
                <div class="row" style="padding-right:70%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <h3 class="fw-bold">@Model.Tbl_ItemDetails.CategoryName</h3>

                    </div>
                </div>

                <!--Sub row 03-->
                <div class="row" style="padding-right:75%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label>Rs @Model.Tbl_ItemDetails.Price</label>

                    </div>
                </div>

                <!--Sub row 04-->
                <div class="row" style="padding-right:60%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:23px">Available Size</label>

                    </div>
                </div>

                <!--Sub row 05-->
                <div class="row " style="padding-right:60%;padding-top:3%">

                    <div class="col-12 col-md-12 col-sm-12 gap-5">

                        <label class="fw-bold btn btn-secondary" style="font-size:23px;">@Model.represent_sizes01</label>

                        <label class="fw-bold btn btn-secondary" style="font-size:23px;">@Model.represent_sizes02</label>

                        <label class="fw-bold btn btn-secondary" style="font-size:23px;">@Model.represent_sizes03</label>

                    </div>

                   
                </div>

                <!--Sub row 06-->
                <div class="row " style="padding-left:8%;padding-top:3%">

                    <div class="col-12 col-md-12 col-sm-12 gap-5">
                          <input type="text" style="width:50%" placeholder="Type the sizes you want(e.g. S M)" asp-for="tbxSizesUserWant" class="form-control"/>
                          <span asp-validation-for="tbxSizesUserWant" class="text-danger text-start"></span>
                    </div>


                </div>

                <!--Sub row 07-->
                <div class="row" style="padding-right:74%;padding-top:5%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <label class="fw-bold" style="font-size:23px">Color</label>

                    </div>
                </div>

                <!--Sub row 08-->
                <div class="row" style="padding-left:8%;padding-top:3%">
                    <div class="col-12 col-md-12 col-sm-12">
                        <input type="text" class="form-control" style="color:gray;width:50%;" readonly asp-for="Tbl_ItemDetails.Color" placeholder="Color"/>

                    </div>
                </div>
             @*    <input type="hidden"  /> *@
                <!--Sub row 09 | button -->
                <div class="row" style="padding-left:7%;padding-top:6%">
                    <div class="col-12 col-md-12 col-sm-12">
                       
                        <a type="button" asp-route-id="@Model.Tbl_ItemDetails.Id" asp-page="PaymentAndOrderConfirmation" style="width:90%;border-radius:25px" class="btn btn-primary">Buy Now</a>

                    </div>
                </div>
               

            </div>

        </div>

    </div>


</form>