@page
@model VelvetVeogue.Pages.ProductDetailsPageModel
@{
}

<form method="post">

    <div class="container">
        <!--Main row-->
        <div class="row pt-5" style="margin-bottom:3%;">

            <!--Left side (img)-->
            <div class="col-12 col-md-6">
                @if (Model.Tbl_ItemDetails.img != null)
                {
                    <img src="data:image/png;base64,@Convert.ToBase64String(Model.Tbl_ItemDetails.img)" style="width:100%; height:100%;" />
                    @*  <input type="text" hidden asp-for="SelectImg" /> *@
                }



            </div>

            <!--Right side-->
            <div class="col-12 col-md-6">

                <!--Sub row 01-->
                <div class="row">
                    <div class="col-12 col-md-12">
                        @*  <label asp-for="ItemTypePost">@Model.ItemType</label> *@
                        <input asp-for="ItemTypePost" hidden />
                        <input asp-for="ID" hidden />
                        <span class="PDPFonts02">@Model.ItemType</span>

                    </div>
                </div>

                <!--Sub row 02-->
                <div class="row">
                    <div class="col-12 col-md-12">
                        <input asp-for="CategoryNamePost" hidden />
                        <h3 class="fw-bold">@Model.Tbl_ItemDetails.CategoryName</h3>

                    </div>
                </div>

                <!--Sub row 03-->
                <div class="row" style="padding-top:5%">
                    <div class="col-12 col-md-12">
                        <label class="PDPFonts02">Rs @Model.Tbl_ItemDetails.Price</label>

                    </div>
                </div>

                <!--Sub row 04-->
                <div class="row" style="padding-top:5%">
                    <div class="col-12 col-md-12">
                        <label class="fw-bold PDPFonts">Available Size</label>

                    </div>
                </div>

                <!--Sub row 05-->
                <div class="row " style="padding-top:3%">

                    <div class="col-12 col-md-12 gap-5">

                        <label class="fw-bold btn btn-secondary PDPFonts02">@Model.represent_sizes01</label>

                        <label class="fw-bold btn btn-secondary PDPFonts02">@Model.represent_sizes02</label>

                        <label class="fw-bold btn btn-secondary PDPFonts02">@Model.represent_sizes03</label>

                    </div>


                </div>

                <!--Sub row 06-->
                <div class="row " style="padding-top:3%">

                    <div class="col-12 col-md-12 gap-5">
                        <input type="text" style="width:50%" placeholder="Type the sizes you want(e.g. S M)" asp-for="tbxSizesUserWant" class="form-control" />
                        @*  <span asp-validation-for="tbxSizesUserWant" class="text-danger text-start"></span> *@
                    </div>


                </div>

                <!--Sub row 07-->
                <div class="row" style="padding-top:5%;">
                    <div class="col-12 col-md-3">
                        <label class="fw-bold PDPFonts">Color</label>

                    </div>
                    <div class="col-12 col-md-9">
                        <input type="text" readonly style="width:36%" class="form-control" asp-for="Tbl_ItemDetails.Color" />
                    </div>
                </div>

                <!--Sub row 08-->
                <div class="row">
                    <div class="col-12 col-md-12" style="padding-top:3%">

                        <input type="text" style="width:50%" class="form-control" asp-for="color02" placeholder="Please Type the color" />


                    </div>

                </div>
                @*    <input type="hidden"  /> *@
                <!--Sub row 09 | button -->
                <div class="row" style="padding-top:6%">
                    <div class="col-12 col-md-12">


                        <button type="submit" style="width:90%;border-radius:25px"
                                class="btn btn-primary">
                            Buy Now
                        </button>



                    </div>
                </div>


            </div>



        </div>

    </div>


</form>