@page
@model VelvetVeogue.Pages.UpdateOrRemoveModel
@{

}

<div class="container">

    <!--Main row-->
    <div class="row" style="margin-top:5%">

        <div class="col-12 col-sm-12 col-md-12">

            <table class="table">
                <thead>

                    <tr>

                        <th scope="col">Image</th>
                        <th scope="col"><strong>Category Code</strong></th>
                        <th scope="col"><strong>Category Name</strong></th>
                        <th scope="col"><strong>Name</strong></th>
                        <th scope="col"><strong>Color</strong></th>
                        <th scope="col"><strong>Size</strong></th>
                        <th scope="col"><strong>Available Qty</strong></th>
                        <th scope="col"><strong>Price</strong></th>
                        <th scope="col"><strong>Action</strong></th>
                        

                    </tr>

                </thead>

                <tbody>

                    @foreach(var data in Model.Tbl_ItemDetails)
                    {
                        <tr>
                            @* <td>@(data.img ?? "No image")</td> *@
                            <td>@(data.CategoryCode)</td>
                            <td>@(data.CategoryName ?? "N/A")</td>
                            <td>@(data.Name)</td>
                            <td>@(data.Color ?? "N/A")</td>
                            <td>@(data.size ?? "N/A")</td>
                            <td>@(data.AvailableQty)</td>
                            <td>@(data.Price)</td>

                            <!--Action Buttons-->
                            <td>

                                <div class="d-flex gap-3">

                                    <a type="button" asp-page="UpdateItemDetails" class="btn btn-warning">Update</a>
                                    <button type="button" class="btn btn-danger" >Remove</button>

                                </div>

                            </td>

                        </tr>

                    }

                </tbody>
            </table>

        </div>

    </div>

</div>

